		<section class="content">
            <div class="images container">
                <img src="assets/images/portada.jpg" class="w-100" alt="...">
                <!--<div class="bg-custom text-white text-bold">
                    <div class="texto-c">
                        <h2 class="h1">Persigue una gran meta decisiva</h2>
                        <h3 class="h2">con fuerza y determinacion</h3>
                    </div>                    
                </div>-->              
            </div>
        </section>
